*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* Header Style starts from here *******/

header {
    background-color: #e554733b;
}

.header-content{
    width: 80%;
    margin: 0 auto;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.intro{
    width: 708px;
}

.intro h2{
    font-weight: 600;
    font-size: 3rem;
}

.intro button{
    background-color: #E55473;
    padding: 12px 28px;
    margin: 14px 0px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

.header-img img{
    width: 85%;
}

/******* Header Style ends here *******/


/* Feature Section Starts Here  */

.feature-section{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    width: 80%;
    margin: 35px auto;
    
}
.feature-content{
    height: 538px;
    width: 464px;
}

.feature-content p{
    text-decoration: underline;
    font-weight: 800;
}

.feature-content img{
    background: rgba(167, 33, 98, 0.15);
    border-radius: 300px 300px 0 0;
    padding: 25px;
}

.second{
    background-color: rgba(5, 151, 160, 0.15) !important;
}

.third{
    background: rgba(71, 125, 17, 0.15) !important;
}
/* Feature Section Ends Here  */

/* Service Section Starts Here  */

.service-section{
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: space-evenly;
    background-color: #27272712;
    padding: 20px;
}

.service-section img{
    margin: 5px auto;
    display: block;
}

/* Service Style Ends here  */

/* Hot deals starts here  */

.hot-deal-section{
    background-color: #e5547317;
}

.hot-deal-content{
    width: 80%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 35px;
}

.hot-deal-discription span{
    color: #E55473;
}

.hot-deal-discription button{
    background-color: #E55473;
    padding: 12px 28px;
    margin: 14px 0px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}

/* Hot deal ends here  */

/* Insta Section Section Starts Here  */

.insta-section{
    width: 80%;
    text-align: center;
    margin: 30px auto;
}

.insta-post img{
    width: 245px;
    margin: 10px;
}

/* Insta Section Section Ends Here  */


/* Newsletter Section Section Starts Here  */

.newsletter-section{
    width: 80%;
    margin: 30px auto;
    text-align: center;
    padding: 80px;
    background-image: url(assets/images/Rectangle\ 9.png);
    background-size: cover;
}

#email-field{
    width: 700px;
    height: 45px;
    padding: 15px;
    color: #E55473;
    font-size: 20px;
    font-weight: 800;
    border: none;
}

.newsletter-section form [type=submit] {
    background-color: #E55473;
    padding: 12px 28px;
    margin: 14px 0px;
    border: none;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
}

/* Newsletter Section Section Ends Here  */

/* Footer Section Starts Here  */

footer{
    background-color: #000;
    margin: 30px auto;
    padding: 80px;
    text-align: center;
    line-height: 24px;
}

footer h2{
    font-size: 40px;
    margin-bottom: 10px;
}

.copy-right{
    font-size: 10px;
}

